# VS / .NET
**/bin/
**/obj/
**/.vs/
*.user
*.suo

# Legacy
_legacy

# Tests & coverage
**/TestResults/
**/TestOutput/
**/coverage/
*.trx
*.coverage
*.cobertura.xml

# Tools & IDEs
.idea/
.vscode/**.history
.ReSharper*/
*_Resharper.*
*.DotSettings.user

# OS junk
.DS_Store
Thumbs.db

# Artifacts
artifacts/
